
#rcp_movie_extra_info .movie-field {
    margin: 5px 0;
    display: flex;
    border-bottom: 1px solid #eee;
    color: #777777;
    align-items: stretch;
}

#rcp_movie_extra_info .movie-field > label {
    min-width: 200px;
    padding: 10px;
    display: flex;
    align-items: center;
}

#rcp_movie_extra_info .movie-field > .input {
    padding: 10px 20px;
}

#rcp_movie_extra_info .movie-field > .input > input {
    border: none;
    border-bottom: 2px solid #dddddd;
    background: #eeeeee;
}

#rcp_movie_extra_info .movie-field > .input > input:focus {
    border-color: #52bace;
    outline-style: none;
    box-shadow: none;
}