/**
 * All of the CSS for public-facing functionality should be
 * included in this file.
 */

.rcp-container {

}

.rcp-container .row > div[class*='col-'] {
    display: flex;
    flex:1 0 auto;
    margin: 15px 0;
}